<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Encryptron</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="header">
        <div class="container">
            <img src="/static/images/logo.png" class="logo" alt="Encryptron Logo">
            <div class="intro">
                <h2>Login</h2>
                {% if error %}
                    <p style="color: red;">{{ error }}</p>
                {% endif %}
                <form action="{{ url_for('login') }}" method="post">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                    <button type="submit" class="button">Login</button>
                </form>
                <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
            </div>
        </div>
    </div>
</body>
</html>
